<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="rzgonz.bkd">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".Apps.APKModel"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Splash"
        tools:replace="android:theme">
        <activity
            android:name=".modules.Login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Splash" />
        <activity
            android:name=".modules.splashscreen.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.splashscreen.WorktourActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Splash" />
        <activity
            android:name=".modules.splashscreen.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Splash" />
        <activity
            android:name=".modules.register.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Splash" />
        <activity android:name=".modules.register.VerifyPhoneActivity" />
        <activity
            android:name=".modules.home.DashboardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".modules.transaksi.TransaksiActivity" />
        <activity android:name=".modules.peminjam.PeminjamActivity" />
        <activity android:name=".modules.profile.EditProfileActivity" />
        <activity android:name=".modules.koran.KoranActivity" />
        <activity android:name=".modules.transaksi.detail.DetailTransaksiActivity" />
        <activity android:name=".modules.peminjam.detial.DetailPinjamanActivity" />
        <activity
            android:name=".modules.daftar.kilat.DaftarKilatActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".modules.daftar.mikro.DaftarMikroActivity"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".modules.daftar.kilat.DaftarUploadKilatActivity"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".modules.daftar.mikro.DaftarUploadMikroActivity"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".modules.daftar.mikro.DaftarUsahaMirkoActivity"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity android:name=".modules.daftar.kilat.DaftarDataDiriKilatActivity"
            android:windowSoftInputMode="adjustPan|adjustResize"/>
    </application>

</manifest>