<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="rzgonz.bkd">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:name=".Apps.APKModel"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Splash"
        tools:replace="android:theme">
        <activity android:name=".modules.password.ConfimPasswordActivity"></activity>
        <activity android:name=".modules.transaksi.dana.TransaksiDanaDetailActivity" />
        <activity android:name=".modules.QRCodeActivity" />
        <activity android:name=".modules.midtrans.MidtransActivity" />

        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />
        <meta-data
            android:name="com.facebook.accountkit.FacebookAppEventsEnabled"
            android:value="false" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0f46abe2380d259bf4ad7c340c06437c825ed151"
            />

        <activity android:name="com.facebook.accountkit.ui.AccountKitActivity" />
        <activity
            android:name=".modules.Login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Splash" />
        <activity
            android:name=".modules.splashscreen.SplashScreen"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.splashscreen.WorktourActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Splash" />
        <activity
            android:name=".modules.splashscreen.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Splash" />
        <activity
            android:name=".modules.register.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Splash" />
        <activity android:name=".modules.register.VerifyPhoneActivity" />
        <activity
            android:name=".modules.home.DashboardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".modules.transaksi.TransaksiActivity" />
        <activity android:name=".modules.peminjam.PeminjamActivity" />
        <activity
            android:name=".modules.profile.EditProfileActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".modules.koran.KoranActivity" />
        <activity android:name=".modules.transaksi.detail.DetailTransaksiActivity" />
        <activity android:name=".modules.peminjam.detial.DetailPinjamanActivity" />
        <activity
            android:name=".modules.daftar.kilat.pribadi.DaftarKilatActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".modules.daftar.mikro.pribadi.DaftarMikroActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".modules.daftar.kilat.upload.DaftarKilatUploadActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".modules.daftar.mikro.upload.DaftarMikroUploadActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".modules.daftar.mikro.usaha.DaftarMirkoUsahaActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".modules.daftar.kilat.datadiri.DaftarKilatDataDiriActivity"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>